.App {
    font-family: 'Raleway', sans-serif;
    max-width: 600px;
    height: 100%;
    margin: 70px auto;
    text-align:center;
}

.App footer {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin: 10px 0;
}

body {
  background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  text-align: center;
}